/* Default settings for base elements */
* {
	box-sizing: border-box;
}

body {
	font: 16px/100% "Roboto Regular", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

h2 {
	font: 3.3em "Roboto Thin";
  color: #ffffff;
	line-height: 25%;
}

h3 {
	font-size: 2em;
  color: #8492af;
	line-height: 25%;
}

p {
	color: #8492af;
	line-height: 1.8;
}

/* Common useble classes */
.container {
	margin: 0 auto;

	max-width: 1200px;
	width: 100%;

	padding: 0 15px;
}

.button {
	border: none;
	border-radius: 24px;

	background: none;
	outline: none;
}

.button:hover {
	cursor: pointer;
}

.title {
	font: 1.5em/3 "Roboto Bold";
	color: #0e1a35;
}

.responsive-image {
	max-width: 100%;
}

.state {
  color: #ffffff;
}

.number {
  color: #8492af;
}

.dark {
	color: #0e1a35;
}
