/* Default settings for base elements */
* {
	box-sizing: border-box;
}

body {
	font: 16px/100% "Roboto Regular", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

h2 {
	font: 3.25rem "Roboto Thin";
  color: #ffffff;
	line-height: 25%;
}

h3 {
	font-size: 2rem;
  color: #8492af;
	line-height: 25%;
}

p {
	color: #8492af;
	line-height: 1.8;
}


/* Common useble classes */
.container {
	margin: 0 auto;

	max-width: 1200px;
	width: 100%;

	padding: 0 15px;
}

.button {
	padding: 10px 30px;

	border: none;
	border-radius: 24px;

	background: none;
	outline: none;
}

.title {
	font: 1.5rem/3 "Roboto Bold";
	color: #0e1a35;
}

.responsive-image {
	max-width: 100%;
}

.gradient-layout-top {
	width: 100%;
	height: 220px;

	background: linear-gradient(#ffffff, #f6f7fa);
}

.gradient-layout-bottom {
	width: 100%;
	height: 160px;

	background: linear-gradient(#f6f7fa, #ffffff);
}

.state {
  color: #ffffff;
}

.number {
  color: #8492af;
}

.dark {
	color: #0e1a35;
}

.top-left {
	top: 7%;
	left: 0;

	justify-content: flex-start;
	align-items: flex-start;

	text-align: left;
}

.right-bottom {
	right: 0;
	bottom: 10%;

	justify-content: flex-end;
	align-items: flex-end;

	text-align: right;
}
