.demo_wrapper {
	background: #f6f7fa;
	padding-bottom: 275px;
}

.gradient-layer {
	height: 175px;
	background: linear-gradient(#ffffff, #f6f7fa);
}

.demo {
	display: flex;

	position: relative;
}

.demo .info {
	width: 50%;
	align-self: center;
}

.demo .info p {
	padding-right: 6em;
}

.supported-feature {
	display: flex;
	align-items: center;

	width: 100%;

	color: #5584ff;

	font-size: 1.4em;
	line-height: 1.2em;
}

.supported-feature::before {
	display: block;
	content: url("../img/supported.png");

	height: 28px;

	margin-right: 10px;
}

.demo-img {
	position: absolute;
	top: 0;
	bottom: 0;
	right: -45%;

	width: 100%;
}
