.design_wrapper {
  position: relative;

  padding: 160px 0;

  background-color: #f6f7fa;
}

.design {
  text-align: center;
}

.design::after {
  display: block;
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;

  height: 15%;

  background: -webkit-linear-gradient(#f6f7fa, #ffffff);
  background: linear-gradient(#f6f7fa, #ffffff);
  background: -o-linear-gradient(#f6f7fa, #ffffff);
}

.template {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  width: 100%;

  margin-top: 80px;
}

.template .info {
  display: flex;
  flex-direction: column;

  position: absolute;

  width: 50%;
}

.top-left {
	top: 2%;
	left: 0;

	justify-content: flex-start;
	align-items: flex-start;

	text-align: left;
}

.right-bottom {
	right: 0;
	bottom: 10%;

	justify-content: flex-end;
	align-items: flex-end;

	text-align: right;
}

.top-left p {
  width: 40%;
}

.right-bottom p {
  width: 40%;
}

.mockup {
  width: 90%;
}

/* Positioned elements */
.pointer {
  width: 95%;
  height: 20px;

  position: relative;
}

.line {
  position: absolute;
  top: 50%;
  z-index: 100;

  height: 2px;
  width: calc(100% - 30px);

  background-color: #5584ff;
}

.top-left .line{
  left: 0;
}

.right-bottom .line{
  right: 0;
}

.pointer::after {
  display: block;
  content: "";

  width: 6%;
  height: 162%;

  position: absolute;
  z-index: 100;

  border-radius: 50%;
  background-color: #5584ff;
}

.pointer::before {
  display: block;
  content: "";

  width: 8.5%;
  height: 225%;

  position: absolute;
  z-index: 100;

  border-radius: 50%;
  background-color: rgba(85,132,255, .5);

  animation: blink .5s infinite alternate;
}

.top-left .pointer::after {
  right: 0;
  bottom: -25%;
}

.right-bottom .pointer::after {
  left: 0;
  bottom: -25%;
}

.top-left .pointer::before {
  right: -1.2%;
  bottom: -58%;
}

.right-bottom .pointer::before {
  left: -1.2%;
  bottom: -58%;
}
