.drag-and-drop_wrapper {
  padding: 150px 0;
}

.drag-and-drop {
  display: flex;
  justify-content: space-between;
}

.drag-and-drop .info {
  padding: 3em 0;
}

.workflow {
  display: flex;
  width: 50%;
}

.state-info {
  position: relative;

  width: 100%;

  font: 1.9em/40% "Roboto Medium", Helvetica, Arial, sans-serif;
  padding: 1em 0;
}

.in-progress {
  margin-right: 5%;
}

.in-progress .state-info::after {
  display: block;
  content: url("../img/arrow.png");

  width: 20px;
  height: 20px;

  position: absolute;
  right: 0;
  top: calc(50% - 10px);
}

.tasks_wrapper {
  width: 100%;
}

.tasks_wrapper > .responsive-image {
  display: inline-block;

  box-shadow: 0 0 80px rgba(39,71,144, .5);
}

.draggable-task {
  width: 100%;

  position: relative;
  top: 15px;
  left: 15px;

  animation: drag 2s linear 2s forwards;
}

.hand {
  position: absolute;

  right: -4%;
  bottom: -13%;

  width: 13%;
  height: 48%;
  min-width: 25px;
}

.draggable-task::before,
.draggable-task::after {
  display: block;
  content: "";

  position: absolute;

  border-radius: 50%;

  animation: blink 1s infinite alternate;
}

.draggable-task::before {
  right: -10%;
  bottom: -37%;
  z-index: -700;

  min-width: 46px;
  width: 25%;
  height: 95%;

  background-color: rgba(218,222,231,.5);
}

.draggable-task::after {
  right: -13%;
  bottom: -49%;
  z-index: -750;

  min-width: 66px;
  width: 31%;
  height: 120%;

  background-color: rgba(218,222,231,.2);
}

.drop-zone {
  width: 100%;

  padding: 8% 0;
  margin-top: 3%;

  text-align: center;

  border: 1px dashed #8492af;
  color: #8492af;
}

.drag-and-drop .info {
  width: 45%;
}

.arrows {
  display: flex;

  margin: 0 -10px;
  margin-top: 40px;
}

.left,
.right {
  margin: 0 10px;

  width: 35px;
  height: 35px;

  border: 2px solid #8492af;
  border-radius: 50%;

  opacity: 1;

  transition: opacity .5s ease-in-out;
}

.left::before {
  display: block;
  content: "◄";

  transform: translate(17%, 43%);

  color: #8492af;
}

.right::before {
  display: block;
  content: "►";

  transform: translate(28%, 43%);
  color: #8492af;
}

.left:hover,
.right:hover {
  cursor: pointer;

  opacity: .5;
}
