.features_wrapper {
	position: relative;

	margin-top: -125px;
	padding-top: 260px;

	background-color: #ffffff;
}

.features_wrapper::before {
	display: block;
	content: "";

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -900;

	height: 20%;

	background-color: #ffffff;
}

.features {
	display: flex;
	align-items: center;
}

.feature {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0 1em;
	padding: 0 2.5em;

	width: 33%;

	text-align: center;
}

.icon_wrapper {
	position: relative;

	padding: 0 5em;
}

.icon {
	height: 80px;
	width: 80px;

	margin-bottom: 30px;
}

.feature:nth-child(2) .icon::after,
.feature:nth-child(2) .icon::before {
	display: block;
	content: "";

	position: absolute;
	top: 50%;

	height: 1px;
	width: 60%;

	background-color: #dadee7;
}

.feature:nth-child(2) .icon::after {
	right: calc(80px + 10em);
}

.feature:nth-child(2) .icon::before {
	left: calc(80px + 10em);
}

.more {
  padding: 10px 5em;

  border: 1px solid transparent;

  font-family: "Roboto Bold";
	color: #0e1a35;

	transition: border-color .3s ease-in-out;
}

.more:hover {
  border: 1px solid #dadee7;
}
