.footer_wrapper {
  background-color: #0e1a35;
  padding: 60px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer .info {
  display: flex;
}

.footer a {
  opacity: 1;

  transition: opacity .2s ease-in-out;
}

.footer a:hover {
  opacity: .7;
}

.footer .info > a {
  display: inline-block;

  padding-right: 40px;

  color: #8492af;
}

.social-links {
  display: flex;
}

.social-links > a {
  display: inline-block;

  width: 18px;
  height: 18px;

  text-align: center;
  margin: 0 10px;
}
