.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1000;

	margin: 0 7%;
	margin-top: 55px;
}

.logo {
	display: inline-block;

	min-width: 100px;
	width: 15%;
}

.menu {
	display: flex;
}

.menu-content {
	display: flex;
	align-items: baseline;
}

.menu-logo {
	display: none;

	width: 40px;
	height: 40px;

	background: url('../img/menu-logo-open.svg') no-repeat center center;
	background-size: cover;

	cursor: pointer;

	transition: background .2s linear;
}

.show {
	display: flex !important;
}

.open {
	background: url('../img/menu-logo-close.svg') no-repeat center center;
	background-size: cover;
}

.nav {
	display: flex;
	align-items: baseline;

	padding: 0;

	font-size: inherit;
	list-style: none;
}

.nav .link {
	display: inline-block;

	margin-right: 2.6em;
}

.nav .link::after {
	display: block;
	content: "";

	position: relative;
	top: 5px;

	height: 2px;
	width: 0;

	background-color: #fff;

	transition: width .3s .1s ease-in-out;
}

.nav .link:hover::after { width: 100%; }

.login {
	padding: 10px 2.5em;

	border: 1px solid transparent;
	color: #5584ff;
}

.login:hover {
	border: 1px solid #5584ff;

	transition: border-color .3s .1s ease-in-out;
}
