.hero:before {
	display: block;
	content: "";

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1000;

	background: url("../img/hero-background.jpg") no-repeat top center;
	background-size: cover;
}

.hero {
	margin-top: 230px;

	text-align: center;
}

.start {
	margin-top: 40px;

	padding: 10px 3em;

	font-family: "Roboto Bold";

	color: #ffffff;
	background-color: #5584ff;

	opacity: 1;
	transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out;
}

.start:hover {
	opacity: .9;
	box-shadow: 0 0 10px rgba(166,208,16, .5);
}

.dashboard_wrapper {
	position: relative;

	margin: 0 auto;
	margin-top: 60px;

	width: 65%;
}

.dashboard_wrapper::before {
	display: block;
	content: "";

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -950;

	box-shadow: 0 0 80px rgba(39,71,144, .5);
}

.dashboard {
	position: relative;
	left: 0;

	z-index: 1;
}
