.hero:before {
	display: block;
	content: "";

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1000;

	background: url("../img/hero-background.jpg") no-repeat top center;
	background-size: cover;
}

.hero {
	margin-top: 230px;

	text-align: center;
}

.dashboard {
	position: relative;

	margin: 0 auto;
	margin-top: 60px;

	width: 65%;
}

.db-img {
	position: relative;
	left: 0;

	z-index: 1;
}

.dashboard::before {
	display: block;
	content: "";

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -950;

	box-shadow: 0 0 80px #274790;
}
