/* Large desktops and laptops */
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 992px;
  }

  .features_wrapper {
    padding-top: 160px;
  }

  .feature:nth-child(2) .icon_wrapper {
    padding: 0 3em;
  }

  .feature:nth-child(2) .icon::after {
    right: calc(80px + 6em);
  }

  .feature:nth-child(2) .icon::before {
    left: calc(80px + 6em);
  }

  .showcase_wrapper {
    padding: 50px 0;
  }

  .in-progress .state-info::after {
    display: none;
  }

  .demo_wrapper {
    padding-bottom: 150px;
  }

  .design_wrapper {
    padding: 50px 0;
  }

  .design::after {
    height: 8%;
  }

  .template {
    flex-direction: column;
  }

  .template .info {
    width: 80%;
    position: static;

    justify-content: center;
    align-items: center;

    text-align: center;
  }

  .template .info p {
    width: 80%;
  }

  .mockup {
    width: 90%;
  }

  .pointer::before,
  .pointer::after {
    display: none;
  }

  .pointer {
    width: 100%;
  }

  .pointer .line {
    width: 100%;
  }

  .pricing_wrapper {
    padding-bottom: 50px;
  }

  .footer_wrapper {
    padding: 30px 0;
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 992px) {
  body {
    font-size: 14px;
  }

  .container {
    max-width: 768px;
  }



  .dashboard_wrapper {
    width: 85%;
  }

  .feature {
    width: 45%;
  }

  .feature p {
    width: 80%;
  }

  .feature:nth-child(2) .icon::after,
  .feature:nth-child(2) .icon::before {
    display: none;
  }

  .demo_wrapper {
    padding-bottom: 30px;
  }

  .gradient-layer {
    height: 100px;
  }

  .pricing_wrapper {
    padding-bottom: 0;
  }

  .workflow {
    width: 53%;
  }

  .design::after {
    height: 5%;
  }

  .plans {
    justify-content: center;
    margin: 0;
  }

  .plans .plan {
    margin: 15px;
    padding: 30px;
    width: 45%;
  }

  .plans .plan:first-child {
    margin-left: 15px;
  }

  .plans .plan:last-child {
    margin-right: 15px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }

  h2 {
    line-height: 100%;

    white-space: normal;
  }

  .container {
    max-width: 540px;
  }

  .header {
    align-items: flex-start;
  }

  .menu-content {
    display: none;

    flex-direction: column;
  }

  .nav {
    flex-direction: column;
  }

  .nav .link,
  .menu .login {
    text-align: left;
    margin-top: 2px;
    opacity: 1;

    border-left: 4px solid transparent;

    transition: opacity .2s linear, border .2s linear;
  }

  .nav .link {
    width: 100%;
    padding: 5px 0;
    padding-left: 10px;
  }

  .nav .link::after {
    display: none;
  }

  .nav .link:hover,
  .nav .link:focus {
    background-color: rgba(122,122,122,.5);
  }

  .menu .login {
    width: calc(100%);

    padding: 5px 0;
    padding-left: 10px;

    border-radius: 0;

    color: #fff;
    background-color: #5584ff;
  }

  .nav .link:hover,
  .nav .link:focus,
  .menu .login:hover,
  .menu .login:focus {
    opacity: .8;
    border-left: 4px solid #000;
  }

  .menu-logo {
    display: block;
  }

  .header {
    margin-top: 40px;
  }

  .hero {
    margin-top: 200px;
  }

  .hero .dashboard_wrapper {
    width: 100%;
  }

  .feature {
    width: 80%;
  }

  .gradient-layer {
    height: 50px;
  }

  .demo {
    flex-direction: column;
  }

  .demo .info {
    width: 100%;

    text-align: center;
    margin-bottom: 20px;
  }

  .demo .info p {
    padding-right: 0;
  }

  .demo .supported-feature {
    justify-content: center;
  }

  .demo .demo-img {
    position: static;
  }

  .in-progress .state-info::after {
    display: block;
  }

  .showcase_wrapper {
    padding: 0;
    padding-bottom: 100px;
  }

  .showcase {
    flex-direction: column-reverse;
  }

  .showcase .workflow {
    width: 90%;
  }

  .showcase .info {
    width: 90%;

    padding: 20px 0;

    text-align: center;
  }

  .plans {
    font-size: 1.3em;
  }

  .plans .plan {
    width: 70%;
    margin-top: 30px;
  }

  .plans .plan:first-child {
    margin-top: 0;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .toTop {
    width: 30px;
    height: 30px;
  }

  .hero {
    margin-top: 170px;
  }

  .hero .dashboard_wrapper {
    width: 90%;
  }

  .feature {
    width: 90%;
  }

  .demo {
    width: 80%;
  }

  .demo .info .supported-feature {
    font-size: 1.2em;
  }

  .showcase .workflow {
    width: 80%;
    font-size: 0.8em;
  }

  .showcase_wrapper {
    padding-bottom: 50px;
  }

  .showcase p {
    display: none;
  }

  .showcase .in-progress .state-info::after {
      display: none;
    }

  .design_wrapper {
    padding: 20px 0;
  }

  .design {
    width: 90%;
    margin: 0 auto;
  }

  .design p {
    width: 90%;
  }

  .design::after {
    height: 4%;
  }

  .plans {
    padding: 20px 0;
    font-size: .9em;
  }

  .plans .plan {
    padding: 30px;
    width: 80%;
  }
}
